
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
}

.dark-theme {
  --bg-color: #111111;
  --text-color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.purple-theme {
  --bg-color: #0E2148;
  --text-color: #E3D095;
  transition: all ease-in-out 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}

.header > div {
  display: flex;
  gap: 0.75rem;
  width: 100%;
}



.header__title {
  color: var(--text-color);
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: all ease-in-out 0.3s;
  transform: scale(1.1);
}

button{
  display: block;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
}


@media (min-width: 768px) {
  body {
    padding: 0 2rem; /* расширяем отступы */
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  .header__title {
    font-size: 56px;
    text-align: center;
  }

  .header > div {
    flex-direction: row;
    gap: 1rem;
    width: auto;
  }

  button {
    font-size: 1.125rem; /* ~18px */
    padding: 0.75rem 2rem;
  }
}



